spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: search_service_actuator
              uri: http://search-service:8083
              predicates:
                - Path=/search-service/actuator/**
              filters:
                - RewritePath=/search-service/actuator, /actuator
            - id: subscription_service_actuator
              uri: http://subscription-service:8084
              predicates:
                - Path=/subscription-service/actuator/**
              filters:
                - RewritePath=/subscription-service/actuator, /actuator
        globalcors:
          corsConfigurations:
            '[/ngsi-ld/v1/**]':
              allowedOrigins: ${APPLICATION_CORS_ALLOWED_ORIGINS:http://localhost:3000}
              allowedMethods:
                - GET
                - POST
                - PATCH
                - DELETE
              allowedHeaders: "*"

application:
  search-service:
    url: localhost
  subscription-service:
    url: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info
    access:
      default: none
  endpoint:
    info:
      access: none
    health:
      access: read_only

logbook:
  format.style: http
  strategy: body-only-if-status-at-least
  minimum-status: 200
  predicate:
    include:
      - path: /ngsi-ld/v1/**

# Default values for sending log data to a Gelf compatible endpoint
# Log data is sent only if the 'gelflogs' Spring profile is active
# application.graylog.host: localhost
# application.graylog.port: 12201
# application.graylog.source: stellio-int
