<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- displaying method name may be costly, eventually remove it -->
            <pattern>%yellow(%d) [%15.15t] %highlight(%-5level) %-40.40logger{39} - %white(%M) - %msg%n %ex{10}</pattern>
        </encoder>
    </appender>

    <logger name="com.egm.stellio" level="DEBUG"/>
    <logger name="org.springframework.cloud.gateway" level="INFO" />
    <logger name="org.zalando.logbook" level="TRACE" />

    <springProfile name="!otel">
        <root level="INFO">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="otel">
        <appender name="otel" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        </appender>

        <root level="INFO">
            <appender-ref ref="console" />
            <appender-ref ref="otel" />
        </root>
    </springProfile>

</configuration>
