name: Anchore security scan
on:
  push:
    branches:
      - develop
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Assemble project
        run: ./gradlew assemble
      - name: Upload jars artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: jars
          path: |
            api-gateway/build/libs
            search-service/build/libs
            subscription-service/build/libs
  anchore:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - name: Download jars artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: jars
          path: build
      - name: Build API Gateway local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./api-gateway/Dockerfile
          tags: localbuild/api-gateway:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/api-gateway/build/libs/api-gateway-latest-dev.jar
      - name: Build Search Service local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./search-service/Dockerfile
          tags: localbuild/search-service:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/search-service/build/libs/search-service-latest-dev.jar
      - name: Build Subscription Service local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./subscription-service/Dockerfile
          tags: localbuild/subscription-service:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/subscription-service/build/libs/subscription-service-latest-dev.jar
      - name: Security Scan for API Gateway image
        id: scan-api-gateway
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f
        with:
          image: "localbuild/api-gateway:latest-scan"
          severity-cutoff: critical
      - name: Security Scan for Search Service image
        id: scan-search-service
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f
        with:
          image: "localbuild/search-service:latest-scan"
          severity-cutoff: critical
      - name: Security Scan for Subscription Service image
        id: scan-subscription-service
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f
        with:
          image: "localbuild/subscription-service:latest-scan"
          severity-cutoff: critical
      - name: Upload Anchore scan SARIF report for API Gateway
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        if: always()
        with:
          sarif_file: ${{ steps.scan-api-gateway.outputs.sarif }}
          category: anchore-api-gateway
      - name: Upload Anchore scan SARIF report for Search Service
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        if: always()
        with:
          sarif_file: ${{ steps.scan-search-service.outputs.sarif }}
          category: anchore-search-service
      - name: Upload Anchore scan SARIF report for Subscription Service
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        if: always()
        with:
          sarif_file: ${{ steps.scan-subscription-service.outputs.sarif }}
          category: anchore-subscription-service
