name: Anchore security scan
on:
  push:
    branches:
      - develop
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Assemble project
        run: ./gradlew assemble
      - name: Upload jars artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: jars
          path: |
            api-gateway/build/libs
            search-service/build/libs
            subscription-service/build/libs
  anchore:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
      - name: Download jars artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0
        with:
          name: jars
          path: build
      - name: Build API Gateway local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./api-gateway/Dockerfile
          tags: localbuild/api-gateway:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/api-gateway/build/libs/api-gateway-latest-dev.jar
      - name: Build Search Service local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./search-service/Dockerfile
          tags: localbuild/search-service:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/search-service/build/libs/search-service-latest-dev.jar
      - name: Build Subscription Service local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./subscription-service/Dockerfile
          tags: localbuild/subscription-service:latest-scan
          push: false
          load: true
          build-args: |
            JAR_FILE=./build/subscription-service/build/libs/subscription-service-latest-dev.jar
      - name: Security Scan for API Gateway image
        id: scan-api-gateway
        uses: anchore/scan-action@a5605eb0943e46279cb4fbd9d44297355d3520ab
        with:
          image: "localbuild/api-gateway:latest-scan"
          severity-cutoff: critical
      - name: Security Scan for Search Service image
        id: scan-search-service
        uses: anchore/scan-action@a5605eb0943e46279cb4fbd9d44297355d3520ab
        with:
          image: "localbuild/search-service:latest-scan"
          severity-cutoff: critical
      - name: Security Scan for Subscription Service image
        id: scan-subscription-service
        uses: anchore/scan-action@a5605eb0943e46279cb4fbd9d44297355d3520ab
        with:
          image: "localbuild/subscription-service:latest-scan"
          severity-cutoff: critical
      - name: Upload Anchore scan SARIF report for API Gateway
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047
        if: always()
        with:
          sarif_file: ${{ steps.scan-api-gateway.outputs.sarif }}
          category: anchore-api-gateway
      - name: Upload Anchore scan SARIF report for Search Service
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047
        if: always()
        with:
          sarif_file: ${{ steps.scan-search-service.outputs.sarif }}
          category: anchore-search-service
      - name: Upload Anchore scan SARIF report for Subscription Service
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047
        if: always()
        with:
          sarif_file: ${{ steps.scan-subscription-service.outputs.sarif }}
          category: anchore-subscription-service
