name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request:
    types: [opened,closed,synchronize]
    
jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheckcla' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request'
        # Alpha Release
        uses: cla-assistant/github-action@v1.4.1-alpha
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          path-to-signatures: 'docs/cla/cla.json'
          path-to-cla-document: 'docs/cla/cla.md'
          # branch should not be protected
          branch: 'master'
          allowlist: bobeal,franckLG,HoucemKacem,bot*
          empty-commit-flag: false
          blockchain-storage-flag: false
